{% extends 'layout.html.twig' %}

{% block title %}
    Server Query Tool
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            {% include 'queryForm.html.twig' %}
        </div>
    </div>

    <div class="container">
        {% include 'exceptionBlock.html.twig' %}

        <div class="row">
            <div class="col-sm-6">
                {% include 'serverInfoTable.html.twig' %}
            </div>
            <div class="col-sm-6">
                {% include 'playersTable.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include 'rulesTable.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
